.content-container {
  z-index: 5;
  position: relative;
  margin: 1.5rem auto 0 auto;
  padding-top: 2rem;
  width: 100%;
  background-attachment: fixed;
  /* background-image: url(../img/nightmareLogo.jpeg);
  background-repeat: no-repeat;
  background-position: 50% 50px;
  background-size: 500px; */

  background-image: url(../img/nightmareLogo2.jpeg);
  background-repeat: no-repeat;
  background-position: 50% 50px;
  background-size: auto 100%;


  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  /* this makes the content take up the rest of the page */
  flex: 1;

}

.home {
  background-image: none;
}

/* Main Article Section */

article {
  width: 90%;
  max-width: 1080px;
  padding: .5rem 2rem;
  margin: .5rem auto;

  background-color: rgba(54, 1, 1, 0.88);
  box-shadow: 2px 1px 8px 3px rgba(0, 0, 0, 0.4);
  border-radius: 5px;

}

.article-heading {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-family: 'Cinzel', Times, serif;
}

.article-signature {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-family: 'Cinzel', Times, serif;
  margin-top: 0;
}

h1 {
  font-size: 3rem;
}

.emoji {
  font-size: 3rem;
}

.home-logo-container {
  width: 90%;
  max-width: 1080px;
}

.home-logo-container img {
  margin: 0 auto;
  width: 100%;
  height: auto;
}

/* MOBILE */

@media screen and (max-width: 600px) {

.content-container {
  width: 100%;
}

article {
  width: 98%;
  padding: .5rem .5rem;
}

.home-logo-container {
  width: 98%;
}
  
}