.content-container {
  z-index: 5;
  position: relative;
  margin: 3rem auto 0 auto;
  width: 100%;
  background-image: url(../img/nightmareLogo.jpeg);
  background-repeat: no-repeat;
  background-position: 50% 50px;
  background-size: 500px;
  background-attachment: fixed;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  /* this makes the content take up the rest of the page */
  flex: 1;

}

/* Main Article Section */

article {
  width: 90%;
  max-width: 900px;
  padding: .5rem 2rem;
  margin: 1rem auto;

  background-color: rgba(54, 1, 1, 0.70);
  box-shadow: 2px 1px 8px 3px rgba(0, 0, 0, 0.4);
  border-radius: 5px;

}

.article-heading {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-family: 'Cinzel', Times, serif;
}

.emoji {
  font-size: 3rem;
}

/* MOBILE */

@media screen and (max-width: 600px) {

.content-container {
  width: 100%;
}

article {
  width: 98%;
}
  
}