/* Login Form */

.login-window {
  display: block;
  position: fixed;
  top: 3.25rem;
  right: 0;
  box-shadow: 2px 1px 4px 2px rgba(0, 0, 0, 0.4);
}

.login-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 20rem;
  padding: .5rem;
  
  background-color: rgba(22, 22, 22, 1.0);
  color: white;
  border: 2px rgb(54,1,1) solid;
  border-radius: 3px;
}

.input-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: .5rem;
}

.input-section input {
  float: right;
  padding: .5rem;
  width: 90%;
  min-width: 150px;
}

.login-register-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-top: .5rem;
}

.login-button {
  padding: 1rem 2rem;
  background-color: rgb(54,1,1);
  color: rgb(187,136,136);
  border: 1px rgba(37, 0, 0, .50) solid;
  border-radius: 3px;
  box-shadow: 1px 1px 8px -3px rgb(0,0,0, 0.4);
}

.login-button:hover {
  color: rgb(54,1,1);
  background-color: rgb(187,136,136);
}

/* for the register link */
.login-register-buttons a {
  font-size: .75rem;
  padding: 10px;
  text-align: center;

  /* the "navbar a" style in the header.css interferes here, so I have to add this min-width 0px to keep it from expanding in mobile view */
  min-width: 0px;
}

.login-register-buttons a:hover {
  background-color: rgba(22, 22, 22, 1.0);
  text-decoration: underline;
}


@media screen and (max-width: 600px) {
  .login-window {
    top: 0;
    left: 0;
  }

  .login-form {
    width: 90vw;
    min-height: 12rem;

  }

  .login-register-buttons {
    flex-flow: row nowrap;
  }

}