* {
  box-sizing: border-box;
}

html {
  touch-action: manipulation;
}

/* Body */
body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  font-size: 20px;
}

#root {
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
} 

/* Navigation Bar */

header {
  display: flex;
  flex-flow: row nowrap;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 100;

  background-color: black;
  color: white;
}

.navbar {
  position: relative;
  z-index: 100;
  width: 100%;
  overflow: hidden;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  margin-right: auto;

  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;

  /* border: 1px red solid; */

}

.other-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.navbar a {
  min-width: 7rem;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: white;
  color: black;
}

.icon {
  display: none;
  padding: 1rem;
  margin: 0;
  margin-left: auto;
  align-self: flex-start;
}

.icon:hover {
  background-color: white;
  color: black;
}

/* Banner */

.banner-container {
  position: relative;
  z-index: 0;
  margin: -2rem auto;
  width: 100%;
  max-width: 900px;
}

#banner {
  margin: -.5rem auto;
  width: 100%;
  height: auto;
}

/* Main Article Section */

.home-page {
  position: relative;
  margin: 0rem auto;
  width: 100%;
  height: 100%;
}

article {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 10;
  background-color: rgba(0, 0, 0, 0.55);
  width: 90%;

  padding: .5rem 2rem;
  border: 1px rgba(255, 0, 0, 0.52) solid;
}

article h2 {
  text-align: center;
}

.article-heading {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.emoji {
  font-size: 3rem;
}

/* Footer */

footer {
  margin-top: 4rem;
  background-color: white;
  color: black;

  border: 1px red solid;
}

.copyright {
  text-align: center;
}

.social-media {
  text-align: center;
}

@media screen and (max-width: 800px) {
  .banner-container {
    margin: -1.25rem auto;
  }

  article {
    top: 47%;
  }
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  /* .navbar a:not(:first-child) {display: none;} */
  
  .navbar {
    flex-flow: column nowrap;
    justify-content: center;
  }
  
  .other-nav {
    display: none;
    width: 100%;
  }
  
  .other-nav.open {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
  }

  .icon {
    display: block;
  }

  .banner-container {
    margin: 0rem auto;
  }

  article {
    top: 50%;
  }
}

